In [1]:
import pandas as pd

In [2]:
def my_function():
    # indent 4 spaces
    # function code
    pass

In [3]:
def my_sq(x):
    """squares a give value
    """
    return x ** 2

In [4]:
my_sq(2)

4

In [5]:
my_sq(4)

16

In [7]:
def avg_2(x, y):
    """calculates avgerage between 2 numbers
    """
    return (x + y) / 2.0

In [9]:
avg_2(10, 20)

15.0

In [11]:
df = pd.DataFrame({
    'a': [10, 20 , 30],
    'b': [20 , 30, 40]
})
df

    a   b
0  10  20
1  20  30
2  30  40

In [12]:
df['a'] ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [14]:
df['a'].apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [18]:
def print_me(x):
    print(x)
df

    a   b
0  10  20
1  20  30
2  30  40

In [17]:
df.apply(print_me)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [22]:
def avg_3(x, y, z):
    """avg of 3 numbers
    """
    return (x + y + x) / 3

In [23]:
df.apply(avg_3)

TypeError: ("avg_3() missing 2 required positional arguments: 'y' and 'z'", 'occurred at index a')

In [26]:
def avg_3(col):
    """avg of 3 numbers
    """
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

In [27]:
df.apply(avg_3)

a    20.0
b    30.0
dtype: float64

In [28]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [29]:
df.apply(avg_3, axis=1)

IndexError: ('index out of bounds', 'occurred at index 0')

In [31]:
def avg_2(row):
    """avg of 3 numbers
    """
    x = row[0]
    y = row[1]
    return (x + y) / 2
df.apply(avg_2, axis=1)

0    15.0
1    25.0
2    35.0
dtype: float64

In [33]:
import seaborn as sns

titanic = sns.load_dataset('titanic')

In [34]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [35]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [36]:
import numpy as np

In [46]:
def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return(null_count)

In [47]:
def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size
    return num / dem

In [48]:
def prop_complete(vec):
    return 1 - prop_missing(vec)

In [49]:
titanic.apply(count_missing)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [51]:
titanic.loc[pd.isnull(titanic['embark_town']), :]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
61,1,1,female,38.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True
829,1,1,female,62.0,0,0,80.0,NaN,First,woman,False,B,NaN,yes,True

In [53]:
titanic.apply(count_missing, axis=1).value_counts()

1    549
0    182
2    160
dtype: int64

In [54]:
titanic.apply(prop_complete, axis=1).value_counts()

0.933333    549
1.000000    182
0.866667    160
dtype: int64

In [55]:
def clean_1_colum(single_column):
    return single_column[1:]

In [56]:
clean_1_colum('d42')

'42'

In [64]:
@np.vectorize
def avg_2(x, y):
    """calculates avgerage between 2 numbers
    """
    return (x + y) / 2.0

In [63]:
avg_2(df['a'], df['b'])

0    15.0
1    25.0
2    35.0
dtype: float64