In [1]:
import pandas as pd

In [3]:
gapminder = pd.read_csv('../data/gapminder.tsv', delimiter='\t')

In [4]:
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [5]:
gapminder.groupby('year')['lifeExp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [17]:
y1952 = gapminder.loc[gapminder['year'] == 1952, :]

In [11]:
l = [1, 2, 3, 4, 5]

In [14]:
l[:]

[1, 2, 3, 4, 5]

In [9]:
y1952['lifeExp'].mean()

49.05761971830987

In [10]:
gapminder.groupby('year')['lifeExp'].describe()

      count       mean        std     min       25%      50%       75%     max
year
1952  142.0  49.057620  12.225956  28.801  39.05900  45.1355  59.76500  72.670
1957  142.0  51.507401  12.231286  30.332  41.24750  48.3605  63.03675  73.470
1962  142.0  53.609249  12.097245  31.997  43.46850  50.8810  65.23450  73.680
1967  142.0  55.678290  11.718858  34.020  46.03375  53.8250  67.41950  74.160
1972  142.0  57.647386  11.381953  35.400  48.50025  56.5300  69.24750  74.720
1977  142.0  59.570157  11.227229  31.220  50.47550  59.6720  70.38250  76.110
1982  142.0  61.533197  10.770618  38.445  52.94000  62.4415  70.92125  77.110
1987  142.0  63.212613  10.556285  39.906  54.94075  65.8340  71.87725  78.670
1992  142.0  64.160338  11.227380  23.599  56.12175  67.7030  72.58250  79.360
1997  142.0  65.014676  11.559439  36.087  55.63375  69.3940  74.16975  80.690
2002  142.0  65.694923  12.279823  39.193  55.52225  70.8255  75.45925  82.000
2007  142.0  67.007423  12.073021  39.613  57.16025  71.9355  76.41325  82.603

In [18]:
import numpy as np

In [19]:
gapminder.groupby('continent')['lifeExp'].agg(np.mean)

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64

In [20]:
gapminder.groupby('continent')['lifeExp'].aggregate(np.std)

continent
Africa       9.150210
Americas     9.345088
Asia        11.864532
Europe       5.433178
Oceania      3.795611
Name: lifeExp, dtype: float64

In [22]:
def my_mean(values):
    n = len(values)
    s = np.sum(values)
    return s / n

In [23]:
gapminder.groupby('continent')['lifeExp'].aggregate(my_mean)

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64

In [25]:
gapminder.groupby('continent')['lifeExp'].aggregate([
    np.count_nonzero,
    np.mean,
    np.std
])

           count_nonzero       mean        std
continent
Africa             624.0  48.865330   9.150210
Americas           300.0  64.658737   9.345088
Asia               396.0  60.064903  11.864532
Europe             360.0  71.903686   5.433178
Oceania             24.0  74.326208   3.795611

In [26]:
gapminder.groupby('continent')['lifeExp'].aggregate({
    'ncount': np.count_nonzero,
    'mean': np.mean,
    'std': np.std
})

/home/dchen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  after removing the cwd from sys.path.

           ncount       mean        std
continent
Africa      624.0  48.865330   9.150210
Americas    300.0  64.658737   9.345088
Asia        396.0  60.064903  11.864532
Europe      360.0  71.903686   5.433178
Oceania      24.0  74.326208   3.795611

In [30]:
gapminder.groupby('continent')['lifeExp'].aggregate([
    np.count_nonzero,
    np.mean,
    np.std]).\
    rename(columns = {'count_nonzero': 'count',
                     'mean': 'avg',
                     'std': 'std_dev'}).\
    reset_index()

  continent  count        avg    std_dev
0    Africa  624.0  48.865330   9.150210
1  Americas  300.0  64.658737   9.345088
2      Asia  396.0  60.064903  11.864532
3    Europe  360.0  71.903686   5.433178
4   Oceania   24.0  74.326208   3.795611

In [ ]:
|