# Types and Data Structures

In [ ]:
message = 'This is a string'
type(message)

In [ ]:
type(1)

In [ ]:
type(1.0)

In [ ]:
type(True)

In [ ]:
type(1 < 0)

In [ ]:
type(None)

In [ ]:
# define a function

def add_numbers(a, b):
    result = a + b
    return result

add_numbers(2, 3)

In [ ]:
type(add_numbers)

## List

In [ ]:


x = ['a', 'Babson College', 2017, 10]
type(x)

In [ ]:
x[0]

In [ ]:
x[-1]

In [ ]:
x.append('Python')
x

In [ ]:
x[4]

In [ ]:
x.index(2017)

In [ ]:
for whatever in x:
    print(whatever)

In [ ]:
x = x + [1, 2]
x

In [ ]:
len(x)

In [ ]:
'a' in x

In [ ]:
'b' in x

In [ ]:
'b' in x[1]

## String

In [ ]:
message

In [ ]:
message[0]

In [ ]:
message[-1]

In [ ]:
message[0:4]

In [ ]:
message[-6:]

In [ ]:
x

In [ ]:
x[:2]

In [ ]:
x[-3:]

In [ ]:
msg_list = message.split()
msg_list

In [ ]:
' '.join(msg_list)

In [ ]:
'*'.join(msg_list)

## Dictionary

In [ ]:
emails = {'Zhi': 'zli@babson.edu', 
          'Taylor': 'tswift@babson.edu',
          'Donald': 'dtrump@babson.edu',
          'Bill': 'bgates@babson.edu'}
emails['Bill']

In [ ]:
emails['Elon'] = 'emusk@babson.edu'

In [ ]:
emails

In [ ]:
for name in emails.keys():
    print(name)

In [ ]:
for email in emails.values():
    print(email)

In [ ]:
for name, email in emails.items():
    print('{}: {}'.format(name, email) )

In [ ]:
sales_record = {'price': 3.24,
                'num_items': 4,
                'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}.'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

#  Dates and Times

In [ ]:
import datetime as dt
import time as tm

`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [ ]:
tm.time()

In [ ]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

<br>
Handy datetime attributes:

In [ ]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

<br>
`timedelta` is a duration expressing the difference between two dates.

In [ ]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

<br>
`date.today` returns the current local date.

In [ ]:
today = dt.date.today()

In [ ]:
today - delta # the date 100 days ago

In [ ]:
today > today-delta # compare dates

# More on List

<br>
Let's iterate from 0 to 999 and return the even numbers.

In [ ]:
my_list = []
for number in range(1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

<br>
Now the same thing but with list comprehension.

In [ ]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

# Exercises

#### 1.
For this exercise, we need a list of English words. There are lots of word lists available on the Web, but the one most suitable for our purpose is one of the word lists collected and contributed to the public domain by Grady Ward as part of the Moby lexicon project (see http://wikipedia.org/wiki/Moby_Project).

The word list we will use is in data folder.

This file is in plain text, so you can open it with a text editor, but you can also read it from Python. The built-in function open takes the name of the file as a parameter and returns a file object you can use to read the file. The following program reads words.txt and prints each word, one per line:

In [ ]:
f = open('data/words.txt')
for line in f:
    word = line.strip()
    print(word)

Your job is to modify the previous program that reads words.txt and prints only the words with more than 20 characters (not counting whitespace).

#### 2. 

Write a program to multiplies all the items in a list.

Sample List : [1, 2, 3, 4]
    
Expected Result : 24

#### 3.

Write a Python program to create a dictionary from a string to track the count of the letters from the string.

Sample string : 'Babson College'

Expected output: {'B': 1, 'a': 1, 'b': 1, 's': 1, 'o': 2, 'n': 1, ' ': 1, 'C': 1, 'l': 2, 'e': 2, 'g': 1}