In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Mjob': ['at_home', 'teacher', 'lawyer', 'analyst']})

In [3]:
df

      Mjob
0  at_home
1  teacher
2   lawyer
3  analyst

In [4]:
pd.get_dummies(df)

   Mjob_analyst  Mjob_at_home  Mjob_lawyer  Mjob_teacher
0             0             1            0             0
1             0             0            0             1
2             0             0            1             0
3             1             0            0             0