In [1]:
import numpy as np
from numpy.random import randn
import pandas as pd
from pandas import DataFrame, Series

In [4]:
ser1 = Series([1, 2, 3, 4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B', 'C', 'D', 'E', 'F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
ser2.reindex(['A','B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [9]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [13]:
dframe = DataFrame(randn(25).reshape((5, 5)), index=['A', 'B', 'D', 'E', 'F'], 
                   columns=['col1', 'col2', 'col3', 'col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A -0.854873  0.146939  0.994441  0.660390 -2.202872
B  0.202346  0.258204  0.450662 -0.650128  0.544681
D  1.550089 -1.051636 -0.223544 -0.969650 -1.381099
E -0.162317 -1.667158  0.021689  0.745596  0.193776
F -1.024461  0.890844 -0.251151  1.998189 -0.316494

In [14]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
dframe2

       col1      col2      col3      col4      col5
A -0.854873  0.146939  0.994441  0.660390 -2.202872
B  0.202346  0.258204  0.450662 -0.650128  0.544681
C       NaN       NaN       NaN       NaN       NaN
D  1.550089 -1.051636 -0.223544 -0.969650 -1.381099
E -0.162317 -1.667158  0.021689  0.745596  0.193776
F -1.024461  0.890844 -0.251151  1.998189 -0.316494

In [16]:
new_cols = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2.reindex(columns=new_cols)

       col1      col2      col3      col4      col5  col6
A -0.854873  0.146939  0.994441  0.660390 -2.202872   NaN
B  0.202346  0.258204  0.450662 -0.650128  0.544681   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.550089 -1.051636 -0.223544 -0.969650 -1.381099   NaN
E -0.162317 -1.667158  0.021689  0.745596  0.193776   NaN
F -1.024461  0.890844 -0.251151  1.998189 -0.316494   NaN

In [18]:
# The above 2 steps can also be done in a single step
dframe.ix[['A','B', 'C', 'D', 'E', 'F'], new_cols]

       col1      col2      col3      col4      col5  col6
A -0.854873  0.146939  0.994441  0.660390 -2.202872   NaN
B  0.202346  0.258204  0.450662 -0.650128  0.544681   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.550089 -1.051636 -0.223544 -0.969650 -1.381099   NaN
E -0.162317 -1.667158  0.021689  0.745596  0.193776   NaN
F -1.024461  0.890844 -0.251151  1.998189 -0.316494   NaN