In [2]:
import pandas as pd

In [3]:
xlsfile = pd.ExcelFile('Lec28.xls')

In [4]:
dframe = xlsfile.parse('Sheet1')
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0            2857          45          38
1            2323          86          59
2             343          73          90
3            3993          70          67
4            4411          32          41