In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
dframe = pd.read_csv('lec25.csv')
dframe

   q   r   s   t    apple
0  2   3   4   5     pear
1  a   s   d   f   rabbit
2  5   2   5   7      dog

In [4]:
dframe = pd.read_csv('lec25.csv', header=None)
dframe

   0   1   2   3        4
0  q   r   s   t    apple
1  2   3   4   5     pear
2  a   s   d   f   rabbit
3  5   2   5   7      dog

In [5]:
dframe = pd.read_table('lec25.csv', sep=',', header=None)
dframe

   0   1   2   3        4
0  q   r   s   t    apple
1  2   3   4   5     pear
2  a   s   d   f   rabbit
3  5   2   5   7      dog

In [6]:
# To read only a few rows of a file
dframe = pd.read_csv('lec25.csv', header=None, nrows=2)
dframe

   0   1   2   3       4
0  q   r   s   t   apple
1  2   3   4   5    pear

In [7]:
dframe.to_csv('my_data.csv')

In [8]:
import sys

In [9]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q, r, s, t, apple
1,2, 3, 4, 5, pear

In [10]:
dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_q_ r_ s_ t_ apple
1_2_ 3_ 4_ 5_ pear

In [11]:
dframe.to_csv(sys.stdout, sep='?')

?0?1?2?3?4
0?q? r? s? t? apple
1?2? 3? 4? 5? pear

In [12]:
dframe.to_csv(sys.stdout, columns=[0,1,2])

,0,1,2
0,q, r, s
1,2, 3, 4