In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [3]:
# Multi-level Indexing
ser = Series(randn(6), index=[[1,1,1,2,2,2], ['a','b', 'c', 'a', 'b', 'c']])
ser

1  a    1.096301
   b    0.034314
   c   -1.053086
2  a    0.741307
   b    1.013222
   c   -1.228694
dtype: float64

In [4]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
ser[1]

a    1.096301
b    0.034314
c   -1.053086
dtype: float64

In [7]:
# Selecting the 'a's from both levels
ser[:, 'a']

1    1.096301
2    0.741307
dtype: float64

In [9]:
# Higher Indexes -> Rows, Lower Indexes -> Columns
dframe = ser.unstack()
dframe

          a         b         c
1  1.096301  0.034314 -1.053086
2  0.741307  1.013222 -1.228694

In [10]:
dframe2 = DataFrame(np.arange(16).reshape(4,4), index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
                    columns=[['NY', 'NY', 'LA', 'SF'], ['cold', 'hot', 'hot', 'cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [11]:
dframe2.index.names = ['INDEX1', 'INDEX2']
dframe2.columns.names = ['Cities', 'Temp']
dframe2

Cities          NY      LA   SF
Temp          cold hot hot cold
INDEX1 INDEX2
a      1         0   1   2    3
       2         4   5   6    7
b      1         8   9  10   11
       2        12  13  14   15

In [13]:
dframe2.swaplevel('Cities', 'Temp', axis=1)

Temp          cold hot     cold
Cities          NY  NY  LA   SF
INDEX1 INDEX2
a      1         0   1   2    3
       2         4   5   6    7
b      1         8   9  10   11
       2        12  13  14   15

In [16]:
dframe2.sortlevel(1)

/home/harry/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

Cities          NY      LA   SF
Temp          cold hot hot cold
INDEX1 INDEX2
a      1         0   1   2    3
b      1         8   9  10   11
a      2         4   5   6    7
b      2        12  13  14   15

In [17]:
dframe2.sum(level='Temp', axis=1)

Temp           cold  hot
INDEX1 INDEX2
a      1          3    3
       2         11   11
b      1         19   19
       2         27   27