In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
obj = Series([3, 6, 9, 12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [6]:
obj.values

array([ 3,  6,  9, 12])

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
ww2_cas = Series([8700000, 4300000, 3000000, 2100000, 400000], index=['USSR', 'Germany', 'China', 'Japan', 'USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [9]:
ww2_cas['USA']

400000

In [10]:
# Check which countries had casualities greater than 4 million
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [11]:
'USSR' in ww2_cas

True

In [12]:
# Convert series to dictionary 
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [14]:
# Convert dictionary to series
ww2_series = Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [15]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']
obj2 = Series(ww2_dict, index=countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [16]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [17]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [18]:
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [19]:
obj2.name = "World War Casualities"
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War Casualities, dtype: float64

In [20]:
obj2.index.name = "Countries"
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War Casualities, dtype: float64