## Lesson 07 - Logic, Loops, Lists, Tuples, and Dictionaries

* Shaw Exercises 27-39
* Lutz Chapters 8-13

### Logic

#### Boolean Operations -- and, or, not

These are the Boolean operations, ordered by ascending priority:

Operation |	Result	 
----------|-------
x or y	  |  if x is false, then y, else x       
x and y	  |  if x is false, then x, else y        
not x	  |  if x is false, then True, else False


#### Comparisons

Comparison operations are supported by all objects. They all have the same priority, which is higher than that of the Boolean operations. Comparisons can be chained arbitrarily; for example, `x < y <= z` is equivalent to `x < y and y <= z`, except that `y` is evaluated only once (but in both cases `z` is not evaluated at all when `x < y` is found to be false).

This table summarizes the comparison operations:

Operation | Meaning
----------|--------
<	      | strictly less than	
<=	      | less than or equal	
>	      | strictly greater than	
>=	      | greater than or equal	
==	      | equal	
!=	      | not equal
is	      | object identity	
is not	  | negated object identity

In [1]:
2 == 1 + 1

True

In [2]:
'ab' == 'a' + 'b'

True

In [3]:
(2 == 1 + 1) and ('ab' == 'a' + 'b')

True

In [4]:
(5 > 4) or (2 < 1)

True

In [5]:
5 == 5.0

True

In [6]:
5 is 5.0

False

In [7]:
'aa' is 'aa'

True

In [8]:
'aa' != 'bb'

True

### Some asides

#### Generating sequential lists of numbers

In [9]:
range(5)

range(0, 5)

In [10]:
list(range(5))

[0, 1, 2, 3, 4]

In [11]:
range(1, 6)

range(1, 6)

In [12]:
list(range(1, 6))

[1, 2, 3, 4, 5]

#### Increment operator

Note: Python does not support the ++ operator from C, C++, and Perl.

In [13]:
i = 1
i = i + 1
i

2

In [14]:
i = 1
i += 1
i

2

In [15]:
j = 2
j = j * 3
j

6

In [16]:
j = 2
j *= 3
j

6

### Loops

#### if Tests

	if <test1>:                 # if test
	    <statements1>           # Associated block
	elif <test2>:               # Optional elifs
	    <statements2>
	else:                       # Optional else
	    <statements3>

#### while Loops

	while <test>:               # Loop test
	    <statements1>           # Loop body
	else:                       # Optional else
	    <statements2>           # Run if didn't exit loop with break
	
	while <test1>:
	    <statements1>
	    if <test2>: break       # Exit loop now, skip else
	    if <test3>: continue    # Go to top of loop now, to test1
	else:
	    <statements2>           # Run if we didn't hit a 'break'
	
	break -- Jumps out of the closest enclosing loop (past the entire loop 
	  statement).
	continue -- Jumps to the top of the closest enclosing loop (to the loop’s 
	  header line).
	pass -- Does nothing at all: it’s an empty statement placeholder.
	else (loop block) -- Runs if and only if the loop is exited normally 
	  (i.e., without hitting a break).

#### for Loops

	for <target> in <object>:   # Assign object items to target
	    <statements>            # Repeated loop body: use target
	else:
	    <statements>            # If we didn't hit a 'break'
	
	for <target> in <object>:   # Assign object items to target
	    <statements>
	    if <test>: break        # Exit loop now, skip else
	    if <test>: continue     # Go to top of loop now
	else:
	    <statements>            # If we didn't hit a 'break'

#### if

In [17]:
if 1 < 2:
    print("The 'if' statement is true.")

The 'if' statement is true.

In [18]:
if 3 < 2:
    print("The 'if' statement is true.")
else:
    print("The 'if' statement is false.")

The 'if' statement is false.

In [19]:
# indentation matters -- uncomment the code below to see what happens
#if 1 < 2:
#print("The 'if' statement is true.")

#### for

In [20]:
for i in range(5): # same as: for i in [0, 1, 2, 3, 4]
    print('i is %s' % i)

i is 0
i is 1
i is 2
i is 3
i is 4

In [21]:
for i in range(5):
    print(i) # just to monitor where we are
    if i in [1, 2]:
        print("It's 1 or 2.")
    elif i in [3, 4]:
        print("It's 3 or 4.")
    else:
        print("It must be 0.")
        break # comment this line to get the full output

0
It must be 0.

#### while

In [22]:
j = 0
while j <= 5:
    print(j)
    j += 1 # same as: j = j + 1
    #if j == 4:
        #break
else:
    print('All done.')

0
1
2
3
4
5
All done.

### Lists

#### List indexing and operations

In [23]:
# a simple list of strings
L = ['alpha', 'bravo', 'charlie']
L

['alpha', 'bravo', 'charlie']

In [24]:
# number of items in the list
len(L)

3

In [25]:
# indexing by position
L[0]

'alpha'

In [26]:
# slicing a list returns a new list
L[:-1]

['alpha', 'bravo']

In [27]:
# concatenation makes a new list too
L + ['delta', 'echo', 'foxtrot']

['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot']

In [28]:
['delta', 'echo', 'foxtrot'] + L

['delta', 'echo', 'foxtrot', 'alpha', 'bravo', 'charlie']

In [29]:
# the original list is unchanged
L

['alpha', 'bravo', 'charlie']

In [30]:
# add object at end of list with append
L.append('end') 
L

['alpha', 'bravo', 'charlie', 'end']

In [31]:
# delete an item in middle of list with pop
L.pop(2)

'charlie'

In [32]:
# now L is changed
L

['alpha', 'bravo', 'end']

In [33]:
# insert a new item with insert
L.insert(2, 'middle')

In [34]:
L

['alpha', 'bravo', 'middle', 'end']

In [35]:
# replace an existing item with positional assignment
L[2] = 'xxx'

In [36]:
L

['alpha', 'bravo', 'xxx', 'end']

In [37]:
M = ['bb', 'aa', 'cc']

In [38]:
M

['bb', 'aa', 'cc']

In [39]:
M.sort()

In [40]:
M

['aa', 'bb', 'cc']

In [41]:
M.reverse()

In [42]:
M

['cc', 'bb', 'aa']

#### Nested lists (like matrices)

In [43]:
M = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

In [44]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [45]:
M[1]

[4, 5, 6]

In [46]:
M[1][2]

6

#### List slicing

In [47]:
x = list(range(10))

In [48]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
x[0:5]

[0, 1, 2, 3, 4]

In [50]:
x[:5]

[0, 1, 2, 3, 4]

In [51]:
x[-5:]

[5, 6, 7, 8, 9]

In [52]:
x[2:5]

[2, 3, 4]

#### List comprehension (with for loops)

Example with/without list comprehension

In [53]:
# example without list comprehension
squares = []
for x in [1, 2, 3, 4, 5]:
    squares.append(x ** 2)

In [54]:
squares

[1, 4, 9, 16, 25]

In [55]:
# example with list comprehension
squares = [x ** 2 for x in [1, 2, 3, 4, 5]]

In [56]:
squares

[1, 4, 9, 16, 25]

Example with string instead of list

In [57]:
doubles = [c * 2 for c in 'spam']

In [58]:
doubles

['ss', 'pp', 'aa', 'mm']

Examples with two-dimensional lists

In [59]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [60]:
# collect the items in column 2
col2 = [row[1] for row in M]

In [61]:
col2

[2, 5, 8]

In [62]:
# add 1 to each item in column 2
col2a = [row[1] + 1 for row in M]

In [63]:
col2a

[3, 6, 9]

In [64]:
# filter out odd items
col2b = [row[1] for row in M if row[1] % 2 == 0]

In [65]:
col2b

[2, 8]

In [66]:
# Collect a diagonal from matrix
diag = [M[i][i] for i in [0, 1, 2]]

In [67]:
diag

[1, 5, 9]

### Tuples

Tuples are similar to lists with two important differences:

1. Tuples are immutable, meaning they cannot be changed in place or appended to.
2. Tuples can be composed of mixed types of objects, whereas lists should contain a single kind of object.

In [68]:
T = (1, 2, 3, 4)

In [69]:
T

(1, 2, 3, 4)

In [70]:
T[0]

1

In [71]:
len(T)

4

In [72]:
T = T + (5, 6)
T

(1, 2, 3, 4, 5, 6)

In [73]:
# try to assign to a tuple
#T[0] = 2 # uncomment this and run to see what happens

Example on tuples vs. lists:

In [74]:
# here is a list of the same object type
["Bob", "Joe", "John", "Sam"]

['Bob', 'Joe', 'John', 'Sam']

In [75]:
# here is a list of different object types -- DON'T DO THIS
["Billy", "Bob", "Joe", 42]

['Billy', 'Bob', 'Joe', 42]

In [76]:
# use a tuple instead
[("Billy", "Bob", "Joe", 42), ("Robert", "", "Smith", 31)]

[('Billy', 'Bob', 'Joe', 42), ('Robert', '', 'Smith', 31)]

### Dictionaries

In [77]:
# keys and values
D = {'food': 'Spam', 'quantity': 4, 'color': 'pink'}

In [78]:
D

{'color': 'pink', 'food': 'Spam', 'quantity': 4}

In [79]:
# fetch value of key 'food'
D['food']

'Spam'

In [80]:
D['quantity']

4

In [81]:
# add 1 to 'quantity' value
D['quantity'] += 1

In [82]:
D

{'color': 'pink', 'food': 'Spam', 'quantity': 5}

In [83]:
D = {}

In [84]:
# create keys by assignment
D['name'] = 'Bob'
D['job'] = 'dev'
D['age'] = 40

In [85]:
D

{'age': 40, 'job': 'dev', 'name': 'Bob'}

In [86]:
D['name']

'Bob'

In [87]:
# nested dictionaries
rec = {'name': {'first': 'Bob', 'last': 'Smith'}, 
       'job': ['dev', 'mgr'],
       'age': 40.5}

In [88]:
rec

{'age': 40.5, 'job': ['dev', 'mgr'], 'name': {'first': 'Bob', 'last': 'Smith'}}

In [89]:
# 'name' is a nested dictionary
rec['name']

{'first': 'Bob', 'last': 'Smith'}

In [90]:
# index the nested dictionary
rec['name']['last']

'Smith'

In [91]:
# 'job' is a nested list
rec['job']

['dev', 'mgr']

In [92]:
# index the nested list
rec['job'][-1]

'mgr'

In [93]:
# expand the job description in place
rec['job'].append('janitor')

In [94]:
rec

{'age': 40.5,
 'job': ['dev', 'mgr', 'janitor'],
 'name': {'first': 'Bob', 'last': 'Smith'}}

In [95]:
# sorting keys with for loops
D = {}
D['a'] = 1
D['b'] = 2
D['c'] = 3
D['d'] = 4
D['e'] = 5

In [96]:
D

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [97]:
# iterate over dict keys (note the keys are not guaranteed to be in insertion order)
for key in D:
    print(key,D[key])

a 1
b 2
c 3
d 4
e 5

In [98]:
# iterate over dict key-value pairs
for key, value in D.items():
    print(key,value)

a 1
b 2
c 3
d 4
e 5

In [99]:
# iterate over sorted dict keys (sorted alphabetically)
for key in sorted(D):
    print(key,D[key])

a 1
b 2
c 3
d 4
e 5

In [100]:
# checking if key exists
D = {'a': 1, 'c': 3, 'b': 2}

In [101]:
D

{'a': 1, 'b': 2, 'c': 3}

In [102]:
D['e'] = 99

In [103]:
D

{'a': 1, 'b': 2, 'c': 3, 'e': 99}

In [104]:
'e' in D

True

In [105]:
'f' in D

False

In [106]:
if not 'f' in D:
    print('missing')

missing

In [107]:
# combine two lists into dictionary using dict(zip(list1, list2))

In [108]:
keys = ['name', 'job', 'zip_code', 'city']
values = ['Jon', 'student', '92037', 'La Jolla']

In [109]:
d = dict(zip(keys, values))

In [110]:
d

{'city': 'La Jolla', 'job': 'student', 'name': 'Jon', 'zip_code': '92037'}

### Other types

#### Sets

In [111]:
X = set('spam')
Y = set(['h', 'a', 'm'])

In [112]:
X

{'a', 'm', 'p', 's'}

In [113]:
Y

{'a', 'h', 'm'}

In [114]:
intersection = X & Y

In [115]:
intersection

{'a', 'm'}

In [116]:
union = X | Y

In [117]:
union

{'a', 'h', 'm', 'p', 's'}

In [118]:
difference = X - Y

In [119]:
difference

{'p', 's'}

#### Boolean

In [120]:
1 > 2, 1 < 2

(False, True)

In [121]:
bool(0), bool(1)

(False, True)

In [122]:
bool('spam')

True

In [123]:
True or False

True

In [124]:
False + 1

1

In [125]:
True + 1

2

In [126]:
True == 1

True

In [127]:
True is 1

False

In [128]:
False == 0

True

In [129]:
False is 0

False

#### None

In [130]:
X = None

In [131]:
X

In [132]:
print(X)

None

In [133]:
#None + 1 # uncomment this and run to see what happens

In [134]:
type(None)

NoneType

#### The `type()` function

In [135]:
type(1)

int

In [136]:
type(1.0)

float

In [137]:
type('1')

str

In [138]:
type([1, 2])

list

In [139]:
type((1, 2))

tuple

In [140]:
type({'a': 1})

dict

In [141]:
type({1, 2})

set

In [142]:
type(True)

bool

In [143]:
type(False)

bool

In [144]:
type(None)

NoneType